<ng-mf-top-bar></ng-mf-top-bar>
<div class="main-div px-[150px] py-[40px]">
  
  <div *ngIf="isLoggedIn$ | async; else signIn" class="sub-logged-div-content">
    <!-- Highlighted title with underline at 1/4 of the width -->
    <h1 class="text-4xl font-bold text-gray-800 mb-4 relative w-fit">
      Welcome {{ userConnected.email }} !
      <span class="absolute left-0 bottom-[-10px] w-1/4 h-2 bg-[#48a1a8]"></span> <!-- Updated color -->
    </h1>
  
    <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
  </div>
  
  <ng-template #signIn>
    <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
  </ng-template>
</div>
