<div class="chat-container bg-white p-6 rounded-lg w-full">
  <!-- Chat Header -->
  <div class="chat-header border-b-2 pb-4 mb-4">
    <h3 class="text-xl font-semibold text-gray-800">Discussion</h3>
  </div>

  <!-- Chat Messages Section -->
  <div class="chat-messages space-y-4 overflow-y-auto max-h-72 mb-4">
    <div *ngFor="let msg of messages" class="message p-2 rounded-lg bg-gray-100 flex justify-between" [ngClass]="{'flex-row-reverse': isMessageAuthor(msg)}">
      <div>
        <div>
          <span class="user font-bold text-gray-700">{{ msg.userEmail }}
            @if(isAdPoster(msg)) {
            <strong>(Ad Author)</strong>
            }
            :
          </span>
          <span class="text text-gray-900">{{ msg.message }}</span>
        </div>
        <span class="timestamp text-sm text-gray-500" [ngClass]="{'flex justify-end': isMessageAuthor(msg)}">{{ msg.timestamp | date:'shortTime' }}</span>
      </div>
    </div>
  </div>

  <!-- Chat Input Section -->
  <div class="chat-input flex items-center space-x-4">
    <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." (keyup.enter)="sendMessage()"
      class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:color-[#3d8489]" />
    <button (click)="sendMessage()"
      class="bg-[#48a1a8] text-white py-2 px-4 rounded-md hover:bg-[#3d8489] transition-colors">
      Send
    </button>
  </div>
</div>